nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      a.navbar-brand(href="#")  DEDM系刊
    .nav.navbar-nav.navbar-right
      li
       a(href="#section_ask") 歷期系刊介紹 
      li
       a(href="#section_video") 本期發燒影片
      li
       a(href="https://dedmnews.wixsite.com/news001" target="_blank") 系刊001
      li
       a(href="https://dedmnews.wixsite.com/news002" target="_blank") 系刊002
      li
       a(href="https://dedmnews.wixsite.com/news003" target="_blank") 系刊003
      li
       a(href="https://dedmnews.wixsite.com/news004" target="_blank") 系刊004
header.jumbotron
  .container
    h1 嘉大數位系刊
    hr
    h4 NCYUxDEDM
section#section_ask
  .container
    .row
      .col-sm-5.img
      .col-sm-7
        h2 歷期系刊
section#section_about
  .container
    .row
      .col-sm-12
        h2 第一~四期
        hr
      .col-sm-3
        img(src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-9/49813232_1931157770315844_7789385969727176704_n.jpg?_nc_cat=100&_nc_ht=scontent-tpe1-1.xx&oh=15a28a0239079bde601b5640da27cec0&oe=5CD579D9",alt="")
        h3 第一期
        p ✪ 本期內容 ✪<br>★ 學長姐專欄<br>★ 影視五燈獎<br>★ 嘉義美食<br>★ 動靜態影像設計<br>★ 實用系列<br>★ PS十分鐘<br>★ 數位生大搜查<br>★ 活動花絮
      .col-sm-3
        img(src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-9/50255267_1931157790315842_1663751828027736064_n.jpg?_nc_cat=110&_nc_ht=scontent-tpe1-1.xx&oh=2845196c7c0c74587870cb07e487f748&oe=5CC5A254",alt="")
        h3 第二期
        p ✪ 本期內容 ✪<br>★ 學長姐專訪<br>★ 新詩<br>★ 嘉義美食<br>★ PIXIV<br>★ 系隊特蒐<br>★ YouTuber<br>★ 數位生大搜查<br>★ 活動花絮<br>★ 藝術行旅<br>★ 數位創客<br>★ Movie Time
      .col-sm-3
        img(src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-9/49783445_1931157813649173_872890006274834432_n.jpg?_nc_cat=111&_nc_ht=scontent-tpe1-1.xx&oh=2d5393c080c0743a66e363438b24d9aa&oe=5CB5381F",alt="")
        h3 第三期
        p ✪ 本期內容 ✪<br>★ 學長姐專欄<br>★ 107級畢業專題<br>★ 留學生<br>★ 數位大搜查<br>★ 嘉義美食<br>★ YouTuber<br>★ 系隊特蒐
      .col-sm-3
        img(src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-9/49899917_1931157750315846_8246426255876947968_n.jpg?_nc_cat=102&_nc_ht=scontent-tpe1-1.xx&oh=6623eb1ad0ba3d05a00cad6a7f731995&oe=5CD37BC0",alt="")
        h3 第四期
        p ✪ 本期內容 ✪<br>★ 畢業學長姐專欄<br>★ 嘉義美食與景點<br>★ 校園大小事<br>★ 設計領域介紹<br>★ 學長姐實習心得<br>★ 實用資源分享<br>★ 技法教學<br>★ 數位生大搜查
       
section#section_video
  .container
    .row
      .col-sm-12
        h2 本期發燒影片
        hr
      .col-sm-12
        .embed-responsive.embed-responsive-16by9
         iframe.embed-responsive-item(src='https://www.youtube.com/embed/nspK69gImxs', allowfullscreen='')
